# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Your code goes here
import pandas as pd

df_1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

df_2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')

df_3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

In [2]:
print(df_1.shape)
df_1.columns = df_1.columns.str.strip().str.lower().str.replace(" ","_")

df_1.rename(columns={'st':'state'}, inplace=True)

df_1.columns

(4008, 11)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [3]:
print(df_2.shape)
df_2.columns = df_2.columns.str.strip().str.lower().str.replace(" ","_")
df_2.rename(columns={'st':'state'}, inplace=True)
df_2.columns

(996, 11)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

In [4]:
print(df_3.shape)
df_3.columns = df_3.columns.str.strip().str.lower().str.replace(" ","_")

df_3.columns

(7070, 11)

Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [5]:
total = pd.concat([df_1, df_2, df_3])
print(total.shape)

total.head(3)

(12074, 11)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247

In [6]:
# CLEANING the data based on previous lab

# State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
# Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".
# In education, "Bachelors" could be replaced by "Bachelor"
# In Customer Lifetime Value, delete the % character
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"

total['state'] = total['state'].str.replace('AZ', 'Arizona').str.replace('Cali', 'California').str.replace('WA','Washington')

total['gender'] = total['gender'].apply(lambda x: 'F' if x == 'Femal' else 'F' if x == 'female' else 'M' if x == 'Male' else x)

total['education'] = total['education'].str.replace('Bachelors', 'Bachelor')

total['customer_lifetime_value'] = total['customer_lifetime_value'].str.replace('%','')

total['vehicle_class'] = total['vehicle_class'].apply(lambda x: 'Luxury' if x in ['Sports Car','Luxury SUV','Luxury Car'] else x)

In [17]:
# REMOVING NaN values
total = total.dropna(how='all')

# # Replacing unknown values in 'gender' column by 'na'
total['gender'] = total['gender'].fillna('na')

# Removing rows for which 'customer_lifetime_value' = NaN
total = total.dropna(subset='customer_lifetime_value')

In [28]:
total[total.duplicated(keep=False)].sort_values('income')

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.6
0,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.6
1070,MY31220,Californiafornia,F,College,899704.02,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.6
2,MY31220,Californiafornia,F,College,899704.02,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.6
1069,CW49887,Californiafornia,F,Master,462680.11,79487.0,114.0,1/0/00,Special Auto,SUV,547.2
1,CW49887,Californiafornia,F,Master,462680.11,79487.0,114.0,1/0/00,Special Auto,SUV,547.2

In [31]:
total = total.drop_duplicates()

In [35]:
# total.duplicated(subset=['state','gender', 'education', 'customer_lifetime_value','income','monthly_premium_auto','number_of_open_complaints','policy_type','vehicle_class','total_claim_amount']).sum()

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [36]:
# Your code goes here
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'

df = pd.read_csv(url)

In [37]:
display(df.head(4))
df.columns

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [48]:
print("NaN values: ", df.isna().sum().sum())
print("Duplicates: ", df.duplicated().sum())

NaN values:  0
Duplicates:  0

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [ ]:
customer_lifetime_value   sales_channel
pivot_df =

In [59]:
summary = df.pivot_table(index='sales_channel',  values='customer_lifetime_value', aggfunc='sum').apply(lambda x: round(x,2))

In [62]:
summary.sort_values('sales_channel')

               customer_lifetime_value
sales_channel
Agent                      33057887.85
Branch                     24359201.21
Call Center                17364288.37
Web                        12697632.90

- the most revenue comes from

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [64]:
df.pivot_table(index=['education','gender'],  values='customer_lifetime_value', aggfunc='mean')

                             customer_lifetime_value
education            gender
Bachelor             F                   7874.269478
                     M                   7703.601675
College              F                   7748.823325
                     M                   8052.459288
Doctor               F                   7328.508916
                     M                   7415.333638
High School or Below F                   8675.220201
                     M                   8149.687783
Master               F                   8157.053154
                     M                   8168.832659

- There is no clear distinction between men and women; the values are rather similar. Depending on the educational level group, it's either men or women who have slightly higher customer lifetime value.

- The customer lifetime value exhibits variation across educational levels, with the lowest values observed for customers with a bachelor's degree and the highest for those with a master's degree. However, the relationship between customer lifetime value and educational level is not distinctly linear, and the differences are not substantial.

- Overall, the data in the table suggests that there may be other factors more important than gender and education level that could impact customer lifetime value.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [79]:
# Your code goes here

df.pivot_table(index=['policy_type','month'],  values='number_of_open_complaints', aggfunc='sum').reset_index()

      policy_type  month  number_of_open_complaints
0  Corporate Auto      1                 443.434952
1  Corporate Auto      2                 385.208135
2   Personal Auto      1                1727.605722
3   Personal Auto      2                1453.684441
4    Special Auto      1                  87.074049
5    Special Auto      2                  95.226817

In [81]:
# df.pivot_table(index='policy_type',  columns='month', values='number_of_open_complaints', aggfunc='sum') #.reset_index()

month                     1            2
policy_type
Corporate Auto   443.434952   385.208135
Personal Auto   1727.605722  1453.684441
Special Auto      87.074049    95.226817